extends layout

block content
  header
    .header_block_zero
    .header_block_first
      h3.company_name WalletSummaryPlus
    .header_block_for_menu
      ul.menu
        li
          a(href='#') #{name}
          ul
            li
              a.button_in_menu(href='/profile') Profile
            li
              a.button_in_menu(href='/logout') Sign Out
    .header_block_forth
  .main
    h1 What is WalletSummaryPlus?
    h2 It is a service that allows any user to register an account for their etherium wallet, and get information about that wallet and share it with others, setting up information visible to other people.
    h1 Creators:
    h2 Comet team
