extends layout

block content
  header
    .header_block_zero
    .header_block_first
      h3.company_name WalletSummaryPlus
    .header_block_second
      input.login_register_button(type='button' onclick="location.href='/login';" value='Login')
    .header_block_third
      input.login_register_button(type='button' onclick="location.href='/register';" value='Register')
    .header_block_forth
  .main_main
    .main_main
      h1.token_lable Enter your token:
      form.token_form(action='/wallet')
        input.token_input(type='text' placeholder='token' name='token')
        button.token_form_button Send

