doctype html
head
  meta(charset='UTF-8')
  title WalletSummaryPlus
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet')
body.login_page_body
  .login-page
    .form
      form.login-form(action='', method="post")
        input(type='text' placeholder='name', name='name')
        input(type='text' placeholder='surname', name='surname')
        input(type='text' placeholder='login', name='username')
        input(type='password' placeholder='password', name='password')
        button.form_button create
        p.message
          | Already registered?
          a(href='/login') Sign In
